html {

}

body {
    font-family: Montserrat, sans-serif;
    color: #444444;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    border-bottom-width: thin;
}

main {
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    border-top-style: solid;
    border-top-color: #d1d1d1;
    border-top-width: thin;
}

h1, h2, h3 {
    font-family: Karla;
}

a {
    padding: 1rem;
}

footer a {
    padding: 0;
}

#brand {
    color: #444444;
    text-decoration: none;
}