html {

}

body {
    font-family: Montserrat, sans-serif;
    color: #444444;
}

header {
    background-color: #eeee66;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

h1, h2, h3 {
    font-family: Karla;
}

a {
    padding: 1rem;
}

footer a {
    padding: 0;
}

#brand {
    color: #444444;
    text-decoration: none;
}